train_dir=/home/iago/Desktop/DepToLabel/data/UD/Russian/GSD/ru_gsd-ud-train.seq
dev_dir=/home/iago/Desktop/DepToLabel/data/UD/Russian/GSD/ru_gsd-ud-dev.seq
test_dir=/home/iago/Desktop/DepToLabel/data/UD/Russian/GSD/ru_gsd-ud-test.seq

model_dir=/home/iago/Desktop/DepToLabel/trained_models/UD/Russian/GSD/Iteracion_3/model
word_emb_dir=/home/iago/Desktop/SuPar/data/Pruebas/Embeddings/Russian/cc.ru.300.vec

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=False
word_emb_dim=300
char_emb_dim=100

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
feature=[POS] emb_size=100
use_features=True

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=8
ave_batch_loss=True

###Hyperparameters###
cnn_layer=4
char_hidden_dim=100
hidden_dim=800
dropout=0.5
lstm_layer=3
bilstm=True
learning_rate=0.02
lr_decay=0.05
momentum=0.9
l2=0
gpu=True
#clip=

###MTL setup###
index_of_main_tasks=0,1,2
tasks=3
tasks_weights=1|1|1
encoding=2-planar-brackets-greedy

###PathsToAdditionalScripts###
gold_dev_dep=/home/iago/Desktop/DepToLabel/data/UD/Russian/GSD/ru_gsd-ud-dev.conll
